#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

}

.App {
  padding: 1.5rem;
  background: rgba(24, 94, 102, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}